body {
    margin: 0;
    padding: 0;
    background-color: #f3eded;  
    overflow-x: hidden;
    
    
  }
  .navbar {
    background: #0c3229;
    text-align: center;
  }
  .navbar h1 {
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    position: relative;
    bottom: 30px;  
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
  }

  .navbar h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(0, 255, 255, 0.8), transparent);
    transform: skewX(-20deg);
    animation: sweep 3s infinite;
    pointer-events: none;
  }
  .aboutnav-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    
  }
  .aboutnav-item {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    text-align: center;
    transition: color 0.3s;
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
  }

  .aboutnav-item i {
    font-size: 22px;
    margin-top: -70px;
  }

  .aboutnav-item::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: #0ff;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
    transition: 0.4s ease;
  }

  .aboutnav-item:hover {
    color: #0ff;
  }

  .aboutnav-item:hover::before {
    width: 100%;
  }
  ul{
    display: block;
    color: white;
    
    
    
  }
  .navbar li{
    display: inline-block;
     padding: 20px;
    font-family: cursive;
  }
  .navbar li:hover{
    color: #0ff;
  }

  @keyframes sweep {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
